
html {
    height: 100%;
    font-size: 1px;
    scroll-behavior: smooth;
}

// font-family: 'Inconsolata',monospace;
// font-family: 'JetBrains Mono',monospace;

.logo-image {
    height: 30rem;
}

.text {
    font-family: $ffTxt;
    font-size: $fzTxt;
    font-weight: $fwTxt;
    line-height: $lhTxt;
    @media (max-width: 699px) {
        font-size: 16rem;
    }
}

.btn {
    text-align: center;
    letter-spacing: 0.1rem;
    padding: 26rem 36rem;
    border-radius: 4rem;
    background: $btnColor;
    font-size: 16rem;
    letter-spacing: 1.7rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $txtColor;
    &:hover {
        opacity: 0.85;
    }
    @media (max-width: 999px) {
        padding: 22rem 36rem;
    }
}

.btn.btn--card {
    padding: 22rem 36rem;
    @media (max-width: 999px) {
        padding: 18rem 36rem;
    }
}

.h1 {
    font-family: $ffH1;
    font-size: $fzH1;
    font-weight: $fwH1;
    line-height: $lhH1;
    color: $txtAccent;
}

.h2 {
    font-family: $ffH2;
    font-size: $fzH2;
    font-weight: $fwH2;
    line-height: $lhH2;
    color: $txtAccent;
}

.h3 {
    font-family: $ffH3;
    font-size: $fzH3;
    font-weight: $fwH3;
    line-height: $lhH3;
    color: $txtAccent;
    text-transform: uppercase;
}

body {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0;

    background: $bgColor;
    font-family: $ffTxt;
    font-size: $fzTxt;
    font-weight: $fwTxt;
    color: $txtColor;
    line-height: $lhTxt;
}

body>* {
    /* sticky footer */
    flex-shrink: 0;
}

body.noscroll {
    overflow: hidden;
}

.footer {
    /* sticky footer */
    margin-top: auto;
}

/* Grid styles */
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* Utility */
.none {
    display: none !important;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
